.root-page-container
    .header-section= 'Hey, this is a header section'
    .carousel-section.section= 'This section will be filled with a carousel'
    .intro-section.section
    .work-section.section
    .blog-section.section