//- .title 
//-     h2= tot;e
//- .date
//-     p= date
//- .description 
//-     p= description
each item in items
    h2.title= item.title
    .description= item.description
    .price= item.price
    input(type='submit', value= item.buttonDescription)