.blog-section-container
    h2.text-center= 'Blog'
        h3.text-center.col-md-12.subtitle-bottom-margin.link-underline 
            a(href='http://katesohng.net/blog/' target='_blank')='Kate\'s Academic Journal' 
        .row
            .col-md-8.col-md-offset-2
                p 
                    |I am also fond of organizing and journaling my achievements. My academic blog helps me in lots of ways as it works as a great compass of the academic journey in my life.'            
            .col-md-8.col-md-offset-2
                p 
                    |This blog contains all project managements, designs, and other artifacts related to my projects during the years I studied at the University of Washington. 
                    a.link-under-line(href='http://katesohng.net/blog/' target='_blank')= 'Kate\'s Academic Journal'